.SectionOne {
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    height: 450px;
  }
  @media (max-width: 500px) {
    height: 300px;
  }
}
.ConverBanner {
  width: 100%;
  //   max-width: 1920px;
  height: 680px;
  background: url(../../../public/Photo/robert-collins-lP_FbBkMn1c-unsplash.jpg)
    no-repeat center;
  background-size: cover;
  @media (max-width: 768px) {
    height: 450px;
  }
  @media (max-width: 500px) {
    height: 300px;
  }
}
// Section two
.SectionTwo {
  background: #84c54e
    url(http://ed.aislinthemes.com/app/uploads/2017/03/trans-grey.png?id=3809);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: repeat-y;
  @media (max-width: 550px) {
    background-image: none;
  }
}
.ConverBlock {
  height: 284px;
  display: flex;
  width: 100%;
  max-width: 1280px;
  @media (max-width: 1100px) {
    flex-direction: column;
    height: auto;
  }
}
.BlockContentSectionTwoFirst {
  width: 25%;
  background-color: #84c54e;
  padding: 65px 15px;
  color: #f2f2f2;
  @media (max-width: 1100px) {
    width: calc(100% - 30px);
    // height: 238px;
    padding: 40px 15px;
  }
  @media (max-width: 768px) {
    height: 143px;
    padding: 40px 15px 20px 15px;
  }
  h4 {
    left: 75px;
    position: relative;
    margin: 10px 0;
    width: 160px;
  }
}
.ConverImagesSectionTwo {
  width: 60px;
  height: 60px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
}

.BlockContentSectionTwo {
  //   height: 284px;
  width: 75%;
  background-color: #f2f2f2;
  display: flex;
  padding-bottom: 25px;
  padding-left: 18px;
  @media (max-width: 1100px) {
    width: calc(100% - 20px);
  }
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}
.BlockChild {
  width: 33.333%;
  padding: 65px 15px;
  h4 {
    color: #282828;
    left: 75px;
    position: relative;
    margin: 10px 0;
    width: 160px;
  }
  p {
    color: #999999;
  }
  @media (max-width: 1100px) {
    width: calc(100% - 30px);
    // height: 238px;
    // padding: 40px 15px 0px 15px;
    padding: 0px 15px;
    padding-top: 35px;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    width: calc(100% - 30px);
  }
}
// Section Three
.SectionThree {
  height: 680px;
  background: #eeeeee
    url(http://ed.aislinthemes.com/app/uploads/2017/03/trans-whie.png?id=3810);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: repeat-y;
  @media (max-width: 1100px) {
    height: auto;
    background: #eeeeee
      url(https://ed.aislinthemes.com/app/uploads/2017/03/bg-image-column2.jpg?id=4456);
  }
}
.ConverContentSectionThree {
  display: flex;
  width: 100%;
  max-width: 1280px;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}
.ConverBlockLeft {
  width: 25%;
  padding: 45px 15px;
  color: #555555;
  text-align: left;
  ul {
    list-style-type: none;
    padding-left: 0px;
    li {
      letter-spacing: 0.1px;
      font-weight: 500;
      font-style: normal;
      color: #333436;
      font-size: 16px;
      line-height: 30px;
      //   list-style-image: url('../../../public/Photo/star.png');
      background: url('../../../public/Photo/rocket.png') no-repeat left center;
      background-size: 15px;
      height: 32px;
      padding-left: 30px;
      padding-top: 3px;
      cursor: pointer;
      transition-duration: 0.4s;
      a {
        padding-top: -10px;
      }
      &:hover {
        transform: translateY(-3px) scale(1.1) translateX(15px);
        color: #e6be1e;
      }
    }
  }
  @media (max-width: 1100px) {
    width: calc(100% - 30px);
    // height: 238px;
    padding: 10px 15px;
  }
  @media (max-width: 768px) {
    height: 143px;
    padding: 40px 15px 20px 15px;
  }
}

.ConverBlockRight {
  width: 75%;
  background-color: #ffffff;
  height: 680px;
  padding-left: 20px;
  @media (max-width: 1100px) {
    width: 100%;
    padding: 0px;
  }
}
.ConverBlockContentTop {
  display: flex;
  height: 340px;
}
.ConverBlockContentBottom {
  display: flex;
  height: 340px;
}

.ConverBlockContentSectionThree {
  width: 33.333%;
  border-radius: 5px;
  margin: 31px 15px 0px 12px;
  position: relative;
  background-color: #eeeeee;
  transition-duration: 0.4s;
  &:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
}
.BlockImageSectionthree {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  overflow: hidden;
  img {
    transition-duration: 0.4s;
    width: 100%;
    cursor: pointer;
    // position: absolute;
    &:hover {
      transform: scale(1.1);
    }
  }
  video {
    width: 100%;
    max-height: 150px;
    height: 100%;
  }
}
.ConverBlockTextSectionThree {
  background-color: #eeeeee;
  padding: 5px 25px 30px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  h5 {
    font-size: 17px;
    color: #505050;
    line-height: 27px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    b {
      width: 50px;
      background: #6c98e1;
      height: 22px;
      position: absolute;
      border-radius: 3px;
      text-align: center;
      font-size: 13px;
      color: #f2f2f2;
      line-height: 16px;
      padding-top: 3px;
    }
  }
  p {
    font-size: 15px;
    color: #999999;
    line-height: 23px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  @media (max-width: 1200px) {
    padding: 5px 15px 30px 20px;
  }
}
.ConverButtonColor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #f2f2f2;
  cursor: pointer;
  h5 {
    margin: 20px 0px;
  }
  transition-duration: 0.4s;
  &:hover {
    transform: scale(1.05);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
}
.ConverBlockContentSectionThreeLast {
  width: 33.333%;
  margin: 35px 15px 0px 15px;
  position: relative;
}
