.WrapperHeader {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #fef9eb;
  @media (max-width: 850px) {
    // height: 60px;
    position: fixed;
    z-index: 99;
  }
}
.WrapperContent {
  max-width: 1280px;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  @media (max-width: 550px) {
    // justify-content: center;
    height: 60px;
    padding-left: 10px;
    padding-right: 15px;
  }
}
.ConverLogoHeader {
  height: 90px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: 280px;
  .img {
    position: absolute;
  }
  @media (max-width: 550px) {
    display: none;
  }
}
.ConverLogoHeaderMobile {
  display: none;
  animation-name: spin;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @media (max-width: 550px) {
    display: block;
    img {
      height: 60px;
    }
  }
}
.ConverFlowerMandala {
  height: 90px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  animation-name: spin;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ConverEmail {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  @media (max-width: 1000px) {
    margin: 0px 10px;
  }
  @media (max-width: 650px) {
    display: none;
  }
}
.ConverPhoneNumber {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  @media (max-width: 1000px) {
    margin: 0px 10px;
  }
  @media (max-width: 650px) {
    display: none;
  }
}
.ConverSignUp {
  display: flex;
  align-items: center;
  position: absolute;
  right: 4px;
  @media (max-width: 850px) {
    display: none;
  }
}
.ConverMenuMobile {
  display: none;
  @media (max-width: 850px) {
    display: flex;
    align-items: center;
    position: absolute;
    right: 12px;
    display: block;
  }
  @media (max-width: 550px) {
    right: 10px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ButtonSignIn {
  height: 48px;
  width: 125px;
  margin: 0px 5px;
  border-radius: 3px 3px 3px 3px;
  border: none;
  background-color: #e6be1e;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  transition-duration: 0.4s;
  color: #555;
  &:hover {
    box-shadow: 6px 8px 20px #e6be1e;
    transform: translateY(-3px);
    // transition: all 0.7s ease-in-out;
  }
}
.ButtonSignUp {
  height: 48px;
  width: 125px;
  margin: 0px 5px;
  border-radius: 3px 3px 3px 3px;
  border: none;
  //   background-color: #50b78b;
  background-color: #84c54e;

  cursor: pointer;
  color: #fef9ec;
  font-size: 17px;
  font-weight: 500;
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 6px 8px 20px #84c54e;
    transform: translateY(-3px);
  }
}
.ConverEmailIcon {
  background-color: #e6be1e;
  width: 30px;
  height: 30px;
  border-radius: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.ConverPIcon {
  background-color: #84c54e;
  width: 30px;
  height: 30px;
  border-radius: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.ConverTextContact {
  @media (max-width: 1000px) {
    display: none;
  }
}

.WrapperBottom {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #fef9eb;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: 0;
  z-index: 99;
}

.WrapperHeaderMenu {
  max-width: 1280px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 850px) {
    display: none;
  }
}
.WrapperMenu {
  display: flex;
  align-items: center;
  position: relative;
}
// menu
.blockItemHeader {
  padding: auto;
  //   width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 18px;
  :hover {
    cursor: pointer;
  }
  font-style: normal;
  font-size: 18px;
  line-height: 38px;
  color: #555;
  font-weight: 500;
  /* identical to box height, or 211% */
  letter-spacing: -0.500211px;
  // text-transform: uppercase;
  @media (max-width: 1000px) {
    margin: 0 10px;
  }
  @media (max-width: 800px) {
    display: none;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownContent {
  display: block;
  opacity: 0;
  position: absolute;
  background-color: #fef9eb;
  min-width: 160px;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.25);
  a {
    color: #555;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
    text-align: left;
  }
}
.dropdown:hover .dropdownContent {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  a {
    display: block;
    background-color: transparent;
  }
}
.dropdown a:hover {
  color: #39adaa;
}
.blockHeader {
  height: 60px;
  align-items: center;
  display: flex;
  color: #555;
  font-weight: 500;
  img {
    margin-left: 4px;
  }
  @media (max-width: 1000px) {
    font-size: 15px;
  }
}
.WrapperLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ConverMedia {
  margin: 0 6px;
  cursor: pointer;
  transition-duration: 0.4s;
  &:hover {
    transform: scale(1.1);
  }
}
.ConverSelectLanguage {
  height: 36px;
  border-radius: 22px;
  width: 36px;
  border: none;
  background-color: #6c98e1;
  color: #fef9ec;
  font-weight: 600;
  font-size: 13px;
}
// menu mobile
.ConverMenuHover {
  display: none;
  cursor: pointer;
  //   margin-top: 1rem;
  //   margin-right: 1rem;
  @media (max-width: 850px) {
    display: block;
  }
}
.ConverIconBar {
  display: block;
  margin: 6px 5px 6px 0px;
  width: 35px;
  height: 5px;
  background-color: #39adaa;
  transition: all 0.7s ease;
  @media (max-width: 500px) {
    width: 32px;
    height: 3px;
  }
}
.ConverIconBar2 {
  display: block;
  margin: 6px 0;
  margin-left: 10px;
  width: 25px;
  height: 5px;
  background-color: #39adaa;
  transition: all 0.7s ease;
  @media (max-width: 500px) {
    width: 22px;
    height: 3px;
  }
}
.ConverIconBar3 {
  display: block;
  margin: 6px 0;
  margin-left: 20px;
  width: 15px;
  height: 5px;
  background-color: #39adaa;
  transition: all 0.7s ease;
  @media (max-width: 500px) {
    width: 12px;
    height: 3px;
  }
}
.ConverLogoHeaderMobileText {
  display: none;
  @media (max-width: 550px) {
    height: 60px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: 290px;
  }
}
.ConverLogoHeaderSticky {
  opacity: 0;
  width: 0px;
}

.ConverLogoHeaderStickyScroll {
  transition-duration: 0.6s;
  opacity: 1;
  height: 80px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: 180px;
  margin-right: 10px;
  .img {
    position: absolute;
  }
  @media (max-width: 1050px) {
    width: 150px;
    img {
      height: 50px;
      width: auto;
    }
  }
}
.ConverFlowerMandalaSticky {
  height: 60px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  animation-name: spin;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @media (max-width: 1050px) {
  }
}
